# Custom SSH security configuration
Port {{ ssh_port | default(22) }}
PermitRootLogin {{ 'yes' if ssh_permit_root_login else 'no' }}
PasswordAuthentication {{ 'yes' if ssh_password_authentication else 'no' }}
PubkeyAuthentication {{ 'yes' if ssh_public_key_authentication else 'no' }}
AuthorizedKeysFile {{ ssh_authorized_keys_file | default('.ssh/authorized_keys') }}
ChallengeResponseAuthentication {{ 'yes' if ssh_public_key_authentication else 'no' }}
UsePAM {{ 'yes' if ssh_use_pam else 'no' }}
X11Forwarding {{ 'yes' if ssh_x11_forwarding else 'no' }}
PrintMotd {{ 'yes' if ssh_print_motd else 'no' }}
ClientAliveInterval {{ ssh_client_alive_interval | default(300) }}
ClientAliveCountMax {{ ssh_client_alive_interval | default(2) }}
MaxAuthTries {{ ssh_max_auth_tries | default(3) }}
MaxSessions {{ ssh_max_sessions | default(2) }}
Protocol {{ ssh_protocol_version | default(2) }}
IgnoreRhosts {{ 'yes' if ssh_ignore_rhosts else 'no' }}
HostbasedAuthentication {{ 'yes' if ssh_host_based_auth else 'no' }}
PermitEmptyPasswords {{ 'yes' if ssh_permit_empty_password else 'no' }}