# {{ ansible_managed }}
# /etc/idmapd.conf
#
# NFSv4 ID name mapping configuration

[General]
# The default is the host's fully-qualified domain name
Domain = {{ nfs_idmapd_domain }}

# Translation method, default is nsswitch
# Method = nsswitch

[Mapping]
# Nobody-User and Nobody-Group are used to map unknown users/groups
Nobody-User = nobody
Nobody-Group = nogroup

[Translation]
# Translation method for mapping NFSv4 names to local IDs
Method = nsswitch

# Verbosity setting (0 = minimal, 7 = maximum)
# Verbosity = 0

# Pipefs directory
# Pipefs-Directory = /run/rpc_pipefs

[Static]
# Static mappings (optional)
# Format: localuser@DOMAIN = nfsuser
