// ===========================================
// Auto Upgrades Configuration
// Managed by Ansible - {{ ansible_managed }}
// Generated on: {{ ansible_date_time.iso8601 }}
// ===========================================

APT::Periodic::Update-Package-Lists "1";
APT::Periodic::Unattended-Upgrade "1";
APT::Periodic::AutocleanInterval "7";
APT::Periodic::Download-Upgradeable-Packages "1";
