# {{ ansible_managed }}
# /etc/exports: NFS file systems being exported
#
# See exports(5) for more information.
#
# Use exportfs -ra to reload configuration

{% for export in nfs_exports %}
# Export: {{ export.path }}
{% for client in export.clients %}
{{ export.path }} {{ client.host }}({{ client.options }})
{% endfor %}

{% endfor %}
