# CrowdSec Local API Credentials
# {{ ansible_managed }}

url: {{ crowdsec_lapi_url }}
login: {{ crowdsec_agent_name }}
password: "{{ lookup('password', '/dev/null length=32 chars=ascii_letters,digits') }}"
